<DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <title>Projeto Criação Site</title>
    <link rel= "stylesheet" 
    type= "text/css" 
    href= "{{ url_for('static',filename='./listacursos.css') }}">

</head>
    <body height:100% width:100% margin:auto >
        <p class="centro" >Faculdade Nova Era Tecnologia</p>

        <a class="generica" 
        href="http://127.0.0.1:5000//index.html" >
        Faculdade FNET</a> 
        </br>
        </br>
     
        <ul>
            <a class="generica" >Bacharelado</a>
            </br></br>
                <ul>
                        <a class="fonte" href="http://127.0.0.1:5000/administracao.html
" title="Você vai aprender a definir as melhores estratégias para o bom funcionamento das empresas, para gerar lucros, controlar gastos e se destacar com qualidade entre as concorrentes.">Administração</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/ciencias.html
" title="O curso de Bacharelado em Ciência da Computação é ideal para quem deseja uma formação sólida na área de informática. Ele forma profissionais qualificados para a elaboração de programas e sistemas de informática para computadores ou dispositivos móveis, como celulares e tablets">Ciências da Computação</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/engenharia.html
" title="A graduação em Engenharia da Computação busca formar profissionais para atuar em automação de processos, integrando aspectos relacionados ao desenvolvimento e gerência de projetos de hardware e software. Tais aspectos envolvem sistemas embarcados, sistemas de tempo real, sistemas integrados de hardware e software, sistemas distribuídos, redes de computadores, robótica e Internet das Coisas.">Engenharia de Computação</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/sistemas.html
" title="A graduação de Sistemas de Informação visa formar empreendedores, profissionais e pesquisadores focados na construção, manutenção e evolução dos sistemas computacionais de apoio às organizações.">Sistemas de Informação</a>
                    </br></br>
                </ul>
            <a class="generica">Tecnólogo</a>
                <ul>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/ads.html
"  title="Com a transformação digital e a área de tecnologia sempre em alta, o curso forma um profissional que possa se envolver em todas as etapas do projeto de sistemas de software, desde concepção, análise, projeto, teste, gestão, implantação e manutenção de sistemas de informação.">Análise e Desenvolvimento de Sistemas</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/bancodados.html
" title="O nosso curso torna o aluno apto a propor aplicações inteligentes e análise de Big Data para resolver desafios de negócios a partir dos grandes volumes de dados disponíveis, a fim de auxiliar nos aspectos decisórios administrativos, gerenciais e financeiros de uma empresa.">Banco de Dados</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/defesa.html
" title="Cada vez mais utilizamos aplicações de softwares para atividades cotidianas e importantes em nossas vidas, como, por exemplo, atividades médicas e financeiras. Com advento da transformação digital e indústria 4.0, aumenta a preocupação da sociedade com aplicações maliciosas e invasões de sistemas de informação em geral, que podem causar danos econômicos e sociais irreparáveis. ">Defesa Cibernética</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/gestao.html
" title="As tecnologias estão em toda parte. Órgãos públicos, privados e não governamentais precisam das Tecnologias de Informação. Assim, a aquisição, manutenção e evolução dessas tecnologias dependem não só de profissionais técnicos, mas de profissionais que consigam combinar diversos talentos pertencentes a diversas áreas.">Gestão da Tecnologia da Informação</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/jogos.html
" title="A graduação em Jogos Digitais aborda as ferramentas práticas e teóricas para o aluno projetar, implementar e testar jogos. Com a criação de personagens, ambientes, objetos, interfaces e regras, é possível aprender sobre tudo o que é necessário para criar um jogo. Além disso, o profissional também pode aplicar técnicas de programação, áudio e elementos em 2D e 3D.">Jogos Digitais</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/processos.html
" title="O curso de Tecnologia em Processos Gerenciais é voltado às áreas da administração de empresas. Aqueles que concluem a graduação são considerados gestores empresariais, e estão aptos a atuar no mercado de trabalho.">Processos Gerenciais</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/producao.html
" title="O curso superior de Produção Multimídia da Faculdade Impacta é voltado para pessoas criativas, oferecendo ensino de qualidade e disciplinas focadas nas demandas atuais e futuras do crescente mercado das mídias convergentes (imagem, som e texto).">Produção Multimídia</a>
                    </br>
                        <a class="fonte" href="http://127.0.0.1:5000/redes.html
" title="O profissional formado pelo curso Superior em Tecnologia em Redes de Computadores estará preparado para atuar neste contexto, analisando, projetando, implementando e administrando soluções para garantir o funcionamento e meio de infraestrutura de tecnologia da informação para diversas aplicações, desde vídeos on demand até aplicações financeiras.">Rede de Computadores</a>
                    </br>
                </ul>
            
        </ul>       
    </body></br>
    <body>
        <h1>Vestibular 2020</h1>
    </body>
</html>


