<!DOCTYPE html>
<html lang='pt'>
    <head>
       <title>Novidades/Noticias</title>
        
       <link rel="stylesheet" href="main.css">   
    
    </head>    
        
    <body>
    <a class="generica"href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/index.html">
       FNET - Faculdade Nova Era Tecnologia</a>
       <div align="center"><h1>Acompanhe as Novidades da Faculdade do mês de setembro!</h1></div>
       <div align="center"><h2>Principais Notícias:</h2></div>
    </br>
       <div align="center"><img src= 'ultimasnoticias.jpg.jpg' width='80%' heigt='60%'/></div>
        
      </br>
       <div align="center"><p><h3>Faculdade cria o 1º curso superior de inteligência artificial do Brasil!</h3></div></pr>
       </br>
         <div align="center"><img src= 'inteligenciaartificial.jpg.jpg' width='80%' heigt='60%'/></div>
       </br>
      </br>
    A primeira turma terá 40 vagas disponíveis e os alunos ingressarão pelo SISU. Segundo professor, o curso formará os novos e futuros líderes da área. </br> </p>
          
          <p>São Paulo – A primeira turma de graduação em Inteligência Artificial do Brasil vai começar suas aulas em 2020 na Universidade Federal de Goiás (UFG). A criação do curso foi aprovada por unanimidade pelo Conselho Universitário.</br>

<p> Segundo o Anderson Soares, o futuro professor de Inteligência Artificial na UFG e doutor em Engenharia Eletrônica e Computação, a falta de mão de obra na área é um problema global e o Brasil já está atrasado.</p>

O professor fala que mais de 30 países já possuem iniciativas do governo para promover estratégias de uso e desenvolvimento de inteligência artificial (IA). E as mudanças na sociedade virão rapidamente: segundo pesquisa da IBM, mais de 7 milhões de brasileiros vão precisar de recapacitação nos próximos 3 anos.

<p>“O profissional especializado em inteligência artificial tem formação em nível de doutorado, por que antes era uma pesquisa feita a longo prazo. Tivemos um avanço muito forte desde 2012, com novas e diferentes aplicações para a tecnologia, o que tornou necessária a formação para níveis mais generalistas”, explica o professor. </p>
          </br>
        </br>          
    </br> 

    <p align="center"><b class="generica">Brasil melhora em ranking das melhores universidades do mundo!</center></b></p>
   </br>
   <div align="center"><img src= 'brasil.jpg.jpg' width='90%' heigt='70%'/></div> 
</br>
   <p>Mais uma vez a Universidade de Oxford ficou em primeiro lugar no ranking de melhores instituições de ensino superior, 
    divulgado pela revista Times Higher Education (THE). O ranqueamento, um dos mais respeitados do mundo, está na 16ª edição e analisa mais de 1.300 universidades em todo mundo.</p> 
        </p>    

   <p> Em segundo lugar ficou o 'California Institute of Technology' tomando o lugar da principal de rival britânica de Oxford em rankings acadêmicos, a Universidade de Cambridge, que caiu para a terceira posição.</p>    
   
   <p>As onze melhores universidades/faculdades brasileiras, segundo a lista da revista THE são:
</p>
   <p>
    1 - Universidade de São Paulo. Faixa de posição: 251-300 </br>
    2 - Universidade de Campinas. Faixa de posição 501-600 </br>
    3 - Universidade Federal de Minas Gerais Faixa de posição: 601-800 </br>
    4 - Universidade Federal do Rio Grande do Sul  Faixa de Posição: 601-800</br>
    5 - Universidade Federal de Santa Catarina Faixa de Posição: 601-800</br>
    6 - Universidade Federal de São Paulo (Unifesp). Faixa de posição: 601-800</br>
    7 - Pontifícia Universidade Católica do Rio de Janeiro (PUC-Rio) Faixa de posição: 601-800</br>
    8 - Universidade de Brasília Faixa de posição: 801-1000</br>
    9 - Universidade Federal de Pelotas Faixa de Posição: 801-1000</br>
    10 - Universidade Federal do Rio de Janeiro Faixa de Posição: 801-1000A</br>
    11 - Faculdade Nova era de Tecnologia Faixa de Posição 1000A- 1100.</br>
   </p> 
   </body> </br>
</br>
   <body>

      <div align="center"><p><h4>Confira a lista de cursos de Tecnologia mais buscados no mercado e suas detalhadas informações:</center></h4></div> 
      </p>
   </br>
</br>
   <div align="center"><img src= 'tecnologiadainformacao.jpg.jpg' width='85%' heigt='70%'/></div>
   </br>
   <div align="center"><p><b><h5>Tecnologia em análise e Desenvolvimento de Sistemas</h5></b></div></body></p> 
   
      <p>No curso de Tecnologia em análise e Desenvolvimento de Sistemas o aluno no tecnólogo aprende a desenvolver
        programas (softwares) e equipamentos conhecidos como “hardwares” utilizados nos mais diversos tipos de computadores,sendo importante a escolha pelas melhores alternativas de computadores</br>
        sendo importante a escolha pelas melhores alternativas de computadores, de preferência rápidos e seguros para que as informações possam ser processadas. </br>
         Além de preparar o profissional para o gerenciamento, esse curso acaba por ter um foco maior na ótica de criação de sistemas informatizados
         compatíveis com as atividades das empresas ou outros setores que demandem tal serviço. Diante de um mercado altamente competitivo, o profissional da área precisa se manter atualizado sobre a linguagem de programação de maneira que atenda às exigências impostas pelo mercado.</p>
   </br>         
<div align="center"><p><h5>Tecnologia em Banco de Dados</h5></div></p>
Na matéria em Banco de Dados o estudante aprenderá como trabalhar com grande quantidade de </br>
informações e de dados que entram no banco de dados de uma empresa, como por exemplo, salários, 
lista de clientes e fornecedores, relatórios, estatísticas, dentre outros tipos de dados. É uma atividade muito minuciosa,
 na qual o profissional a desenvolverá sendo incumbido de organizar tais dados, de modo a 
 deixá-los sempre atualizados, realizando a manutenção dos mesmos. Ele deve impedir a perda 
 dos dados, sendo responsável por sua segurança e guardar os dados para serem recuperados depois quando necessitar.
  Nesta área, o tecnólogo pode seguir como analista estratégico, ou seja, poderá criar bancos de dados e através dele calcular, analisar 
  o possível crescimento das atividades da empresa que o contratou.
</p>  
</br>
</br>
<div align="center"><p> <h5> Tecnologia em Rede de Computadores</h5></div> </p>
 <p>Na área de Tecnologia em rede de Computadores, ela deve garantir através do gerenciamento,
    da manutenção e da infraestrutura, o bom funcionamento da rede para que a atividade prestada não seja prejudicada. 
    Nesse curso, o estudante aprenderá como disponibilizar várias redes e gerenciar todas elas para a empresa, como intranet, 
    bluetooth, WI-FI, internet e além de sistemas de seguranças para não haver prejuízos em geral. 
    Além disso, também auxilia na criação dos computadores como conexão de placas,  circuitos, mouses, teclado, impressoras 
    (Parte física do computador). O curso em questão dura em média 3 anos.</p>
 </br>

<div align="center"><p> <h5>Tecnologia em Sistemas de Internet</h5></div></p>
    <p>A área em que está inserido o curso de Tecnologia em Sistemas para Internet, com a grande ascensão da internet
       e do aproveitamento dela pelas empresas, é uma das áreas que tende a crescer cada vez mais. É possível hoje, o 
       tecnólogo em sistemas para internet atuar como web designer. Neste curso o profissional, além de ter que ter um
       amplo domínio sobre programação e solução de problemas, foca totalmente sua atividade na internet, desenvolvendo 
       as páginas da web de modo a aplicar configurações, formatações, posicionamento de links, uso de cores, enfim, 
       tudo que aperfeiçoe o funcionamento do site.</p>
    </br>

<div align="center"><p><h6>Sistemas de Informação</h6></div></p>
 <p> Sistema de Informação é o curso de graduação de 4 anos em que se aprende a trabalhar com redes de computadores podendo administrar, criar,
     garantir a segurança das redes de computadores, instalar e configurar sistemas de softwares,podendo ver mais aprendizados detalhados. 
     Ele tem peso de bacharelado. Nesse ramo, o profissional colabora na criação de programas. Depois de se tornar bacharel, o estudante 
     poderá se especializar em uma subárea, como por exemplo, tecnologia em banco de dados, ou qualquer outra já vista no curso, ou seja, se 
     você quer entender um pouco de cada área, este é um curso ideal. O profissional deverá organizar os sistemas para que eles transmitam a 
     informação da maneira simples, rápida e funcional aos seus usuários. O sucesso no exercício da área de profissão ocorrerá quando o cliente 
     conseguir, com agilidade e precisão, buscar por informações.</p>
               
<div align="center"><p><h6>Engenharia da Computação</h6></div></p>
<p>O Foco maior do curso é na parte de hardware da computação e demais dispositivos tecnológicos, tudo que envolve seu projeto e desenvolvimento.O hardware 
   consiste na parte física do computador, suas estruturas e componentes e seus periféricos (como teclado, mouse e monitor). Nessa área, o engenheiro de computação 
   faz a integração de circuitos eletrônicos da máquina e desenvolve placas de ligação entre o equipamento e seus acessórios. Na matéria de engenheiro, o aluno verá
   banco de dados, sistemas e outras matérias correlacionadas. A grade do curso terá uma programação de baixo nível, onde o principal é projetar e construir hardware 
   e software.</p>
       
<div align="center"><p><h6>Ciência da Computação</h6></div></p>
O aluno formado em Ciência da Computação atua na elaboração de programas de informática. Um bacharel na área da Ciência da Computação cria desde ferramentas simples, 
como um aplicativo financeiro para despesas,cálculos gerais, até programas mais complexos de gerenciamento de produção, de processamento de informações. Um cientista da computação,
como é chamado o profissional formado na área, pode ser contratado para atuar em uma equipe de desenvolvedores, criando software de acordo com a necessidade dos clientes.
 Também pode atuar no departamento de Pesquisa e Desenvolvimento de uma empresa.
</br>
</br>

 <div align="center"><p><h7>De drones à impressão 3D, montadoras investem pesado em tecnologia</h7></div></p>
</br>
</br>

<div align="center"><img src= 'montadoras.jpg' width='85%' heigt='70%'/></div>
</br>
</br>
</br>
 Com as perspectiva do livre-comércio com União Europeia, indústria automobilística brasileira foca em competitividade para se manter forte!
 Drones que controlam estoques, óculos com realidade aumentada, robôs teleguiados, exoesqueletos, impressão de peças em 3D e fábricas digitais são algumas das tecnologias disruptivas que a
 indústria automobilística brasileira vem adotando para melhorar a qualidade dos veículos, a produtividade das fábricas e sua competitividade.
 O setor está com o cronômetro acionado para enfrentar um dos seus maiores desafios desde a produção do primeiro veículo nacional, há mais de seis décadas.
 Nos próximos 15 anos, prazo em que entrará em vigor o livre comércio entre Mercosul e União Europeia, as fabricantes locais terão de estar preparadas para exportar carros mundo afora e, 
 internamente, enfrentar produtos importados.
   Se não tiver condições de competir globalmente, o país poderá se tornar mero importador de veículos. Hoje o Brasil abriga 66 fábricas que produzem automóveis, comerciais leves, caminhões, ônibus e tratores.
O presidente da Associação Nacional dos Fabricantes de Veículos Automotores (Anfavea), Luiz Carlos Moraes, afirma que, “da porteira para dentro, nossas fábricas estão preparadas”. Segundo ele, entre 2018 e 2024 o setor 
vai investir quase R$ 40 bilhões, a maior parte em novas tecnologias e modernização das linhas.
 Embora seja um dos líderes na introdução de processos e equipamentos da chamada Indústria 4.0 – ou fábricas inteligentes -, o setor tem muito a avançar, especialmente para atender à demanda futura por carros mais conectados,
mais seguros, elétricos e autônomos.