<DOCTYPE html>
    <html>
    <head>
        <meta charset='UTF-8'/>
        <title>Projeto Criação Site</title>
        <link rel="stylesheet"
            type="text/css"
            href="detalhe.css">
    </head>
        <body>
            <p class="centro">Faculdade Nova Era Tecnologia</p>
            <ul>
                <li>
                    <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Cursos</a> </br>
                    </br>
                    <a class="generica" >Detalhes do Curso</a> 
                    <h1>
                            Planejar, organizar, dirigir e controlar: esse é </br>
                            o papel do administrador, um profissional que o </br>
                            tempo todo está tomando decisões para o sucesso das </br>
                            organizações e da sociedade. Por isso, encontra </br>
                            espaço em todos os tipos de organizações e empresas. </br>
                            Aqui na FNET você terá um curso que, além de focar </br>
                            nas áreas de atuação do administrador (marketing, </br>
                            finanças, gestão de pessoas e operações), tem um </br>
                            foco muito grande no desenvolvimento do espírito </br>
                            empreendedor, da visão estratégica e da postura </br>
                            criativa do aluno. </br>
                    </br>
                    <a class="generica" >Disciplina</a> </a>
                    <table border="1">
                        <tr class="generica"><td>Comunicação e Expressão</td></tr>
                        <tr class="generica"><td>Fundamentos da Administração</td></tr>
                        <tr class="generica"><td>Macroeconomia</td></tr>
                    </table>
                    </h1>
                </li>

            </ul>
        </body></br>
    </html>
    
    
    