<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                O curso de Análise e Desenvolvimento de Sistemas </br>
                                da Faculdade Nova Era Tecnologia reconhecido pelo </br>
                                ENADE/MEC como um dos melhores da cidade de São Paulo. </br>
                                Com a transformação digital e a área de tecnologia </br>
                                sempre em alta, o curso forma um profissional que </br>
                                possa se envolver em todas as etapas do projeto de </br>
                                sistemas de software, desde concepção, análise, </br>
                                projeto, teste, gestão, implantação e manutenção </br>
                                de sistemas de informação.
                            </br>
                            </br>
                            <a class="generica" >Disciplina</a> </a>
                            <table border="1">
                                <tr class="generica"><td>Linguagem de Programação</td></tr>
                                <tr class="generica"><td>Análise e Modelagem de Sistemas</td></tr>
                                <tr class="generica"><td>Interface Homem-Computador</td></tr>
                                
                            </table>
                                
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>