<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                O nosso curso torna o aluno apto a propor </br>
                                aplicações inteligentes e análise de Big Data </br>
                                para resolver desafios de negócios a partir dos </br>
                                grandes volumes de dados disponíveis, a fim de </br>
                                auxiliar nos aspectos decisórios administrativos, </br>
                                gerenciais e financeiros de uma empresa. </br>
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Análise Exploratória de Dados</td></tr>
                            <tr class="generica"><td>Linguagem SQL</td></tr>
                            <tr class="generica"><td>Gestão de Projetos</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>