<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                O Bacharelado em Ciência da Computação forma profissionais </br>
                                capazes de projetar e implementar softwares eficientes. </br>
                                O curso capacita o profissional para o desenvolvimento </br>
                                de hardware e softwares, de forma a estudar, desenvolver </br>
                                e implementar programas com objetivos muito amplos, como </br>
                                armazenamento e recuperação de dados, sistemas operacionais </br>
                                e de processamento de dados, banco de dados, redes, </br>
                                segurança de redes e de programação. </br>
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Sistemas Operacionais</td></tr>
                            <tr class="generica"><td>Programação Orientada a Objetos</td></tr>
                            <tr class="generica"><td>Soft Skills</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>
        
        
        