<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                Com advento da transformação digital e indústria 4.0, </br>
                                aumenta a preocupação da sociedade com aplicações </br>
                                maliciosas e invasões de sistemas de informação em </br>
                                geral, que podem causar danos econômicos e sociais irreparáveis. </br>
                                Desta forma, diversos países do mundo têm aprovado ou </br>
                                elaborado leis para proteger empresas e pessoas de possíveis </br> 
                                vazamentos de dados oriundos de ataques cibernéticos. </br>
                                No Brasil as empresas terão que se adaptar e seguir a Lei </br>
                                Geral de Proteção de Dados.
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Administração de Redes e Sistemas</td></tr>
                            <tr class="generica"><td>Arquitetura de Redes de Computadores</td></tr>
                            <tr class="generica"><td>Introdução a Internet das Coisas IOT</td></tr> 
                            
                        </table>
                                
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>