<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                O Curso de Engenharia de Computação é para </br>
                                quem gosta de trabalhar com desenvolvimento </br>
                                de software e inteligência artificial. </br>
                                Quem faz Engenharia de Computação aprende a </br>
                                elaborar sistemas computacionais, atuando </br>
                                nas áreas em que os conhecimentos de software </br>
                                e hardware são essenciais e complementares. </br>
                                As opções vão desde design e planejamento até </br>
                                o desenvolvimento e teste de sistemas. </br>
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Eletricidade e Magnetismo Aplicados</td></tr>
                            <tr class="generica"><td>Circuitos Elétricos</td></tr>
                            <tr class="generica"><td>Otimização de Sistemas Lineares</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>
        
        
        