<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                Dentro desta realidade, os profissionais formados </br>
                                em Gestão da TI terão as seguintes competências: </br>

                               - Agregar valor aos negócios, atuando como elemento </br>
                                catalizador para a integração do negócio e TI. </br>
                               - Elaborar, defender e conduzir projetos e programas </br>
                                de TI que possam agregar valor aos negócios. </br>
                               - Manter a TI como recurso eficaz e eficiente para </br>
                                atender as necessidades e objetivos das organizações. </br>
                               - Valorizar e defender o emprego de padrões e processos </br>
                                na área de TI, assim como o Agile Mindset dos </br>
                                profissionais que atuam nessa área.
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Gestão Estratégica de Pessoas</td></tr>
                            <tr class="generica"><td>Sistemas Integrados de Gestão</td></tr>
                            <tr class="generica"><td>Modelagem de Processos de Negócios</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>