<DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <title>Projeto Criação Site</title>
    <link rel="stylesheet"
        type="text/css"
        href="homepage.css">
</head>
    <body>
        <p class="centro">Faculdade Nova Era Tecnologia</p></br>
        <ul>
             <li>
                <a class="generica">TECNOLOGIA</a>====
            
                <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/inovacao.html">Inovação</a>====
           
                <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html">Graduação</a>====
           
                <a class="generica" onclick="alert('Página indisponivel no momento')">Comunidade</a>====
            
                <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/Noticiasfaculdade.html">Notícias</a>====================

                <button class="bt" onclick="alert('Não disponivel para cadastro')">Cadastro</button>
            </li></br>
        </ul>       
    </body></br>
    <body>
    </br>
    </br>
    </br>
    </br>
        <img src="vestibular.jpg" width=38%% height=45%%>
    </body>
</html>


