<DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <title>Projeto Criação Site</title>
    <link rel="stylesheet"
        type="text/css"
            href="homepage.css">
</head>
    <body>    
        <a class="generica"href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/index.html">
        FNET - Faculdade Nova Era Tecnologia</a>
        <ul>
        </br>
        </br>
            <li>
                <h2>INOVAÇÃO</h2></br>
                <h1>A Faculdade Nova Era Tecnologia,</a></br>
                oferece os melhores cursos no</br>
                âmbito de desenvolvimento de</br>
                software para diversas aplicações,</br>
                proporcionando um ambiente </br>
                dinâmico com ênfase em projetos</br>
                que visam melhorar a vida.</h1></br>
            </li>
        </ul>
    </body></br>
</html>
