<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                A graduação em Jogos Digitais aborda as ferramentas </br>
                                práticas e teóricas para o aluno projetar, implementar </br>
                                e testar jogos. Com a criação de personagens, </br>
                                ambientes, objetos, interfaces e regras, é possível </br> 
                                aprender sobre tudo o que é necessário para </br>
                                criar um jogo. Além disso, o profissional também pode </br> 
                                aplicar técnicas de programação, áudio e elementos </br>
                                em 2D e 3D.
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Arte 2D para Jogos Digitais</td></tr>
                            <tr class="generica"><td>Design de Jogos</td></tr>
                            <tr class="generica"><td>Interfaces para Jogos Digitais</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>