<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                O curso de Tecnologia em Processos Gerenciais </br>
                                é voltado às áreas da administração de empresas. </br>
                                Aqueles que concluem a graduação são considerados </br>
                                gestores empresariais, e estão aptos a atuar no </br>
                                mercado de trabalho.
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Contabilidade Financeira</td></tr>
                            <tr class="generica"><td>Contabilidade Gerencial</td></tr>
                            <tr class="generica"><td>Comportamento Organizacional</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>