<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                O curso superior de Produção Multimídia da Faculdade </br>
                                Nova Era Tecnologia é voltado para pessoas criativas, </br>
                                oferecendo ensino de qualidade e disciplinas focadas </br>
                                nas demandas atuais e futuras do crescente mercado das </br>
                                mídias convergentes (imagem, som e texto).
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Computação Gráfica</td></tr>
                            <tr class="generica"><td>Fotografia Digital</td></tr>
                            <tr class="generica"><td>Direção de Arte</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>