<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                Com o advento da Indústria 4.0 e da Internet das Coisas, </br>
                                os sistemas de computação são, cada vez mais, dependentes </br>
                                de infraestrutura de redes de comunição, e demandam das </br>
                                mesmas maior desempenho, confiabilidade e segurança. </br>
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Arquitetura de Redes de Computadores</td></tr>
                            <tr class="generica"><td>Administração de Redes e Sistemas</td></tr>
                            <tr class="generica"><td>Rounting and Switching</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>