<DOCTYPE html>
        <html>
        <head>
            <meta charset='UTF-8'/>
            <title>Projeto Criação Site</title>
            <link rel="stylesheet"
                type="text/css"
                href="detalhe.css">
        </head>
            <body>
                <p class="centro">Faculdade Nova Era Tecnologia</p>
                <ul>
                    <li>
                        <a class="generica" href="https://diomar11071985a.github.io/ProjetoDesenvolvimentoSistemas/listacursos.html" >Faculdade FNET</a> </br>
                        </br>
                        <a class="generica" >Detalhes do Curso</a> 
                        <h1>
                                A graduação de Sistemas de Informação visa formar </br>
                                empreendedores, profissionais e pesquisadores focados </br>
                                na construção, manutenção e evolução dos sistemas </br>
                                computacionais de apoio às organizações. O perfil </br>
                                empreendedor é alcançado a partir da criação de </br>
                                startups e produtos inovadores durante os quatro </br>
                                semestres finais do curso.
                            </br>
                        </br>
                        <a class="generica" >Disciplina</a> </a>
                        <table border="1">
                            <tr class="generica"><td>Desenvolvimento de Sistemas de Informação</td></tr>
                            <tr class="generica"><td>Teoria da Computação</td></tr>
                            <tr class="generica"><td>Segurança e Auditoria de Sistemas</td></tr>
                            
                        </table>
                        </h1>
                    </li>
    
                </ul>
            </body></br>
        </html>
        
        
        